[Desktop Entry]
Type=Application
Version=1.0
Name=Install Pxrtal OS
GenericName=Calamares Installer
Exec=calamares-install-debian
Comment=Calamares — Installer for Pxrtal Live
Keywords=calamares;system;install;debian;installer
Icon=/usr/share/icons/pxrtal/128x128/apps/icon9.png
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
