[Desktop Entry]
Version=1.0
Name=Pxrtal Market
Comment=Pxrtal software market automation
Exec=sh -c "/usr/local/bin/pxrtalmarket; exec bash"
Icon=/usr/share/icons/pxrtal/128x128/apps/icon5.png
Terminal=true
Type=Application
Categories=Utility;
